@model CookBook.Models.RecipeDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Recipe</h2>

<form action="/recipe/Delete/@Model.RecipeId" method="post">
    <input type="submit" value="Confirm Delete" />
</form>

